@code {
    [Parameter]
    public int CounterValue { get; set; }

    [Parameter]
    public EventCallback OnIncrement { get; set; }

    [Parameter]
    public EventCallback OnDecrement { get; set; }
}

<div Style="margin-top: 50px;">
    <!-- Buttons for increment and decrement -->
    <div style="display: flex; justify-content: flex-start;">
        <MudButton Variant="Variant.Filled" OnClick="OnIncrement" Color="Color.Primary" Style="margin: 5px; 5px; 5px; 5px;">+</MudButton>
        <MudButton Variant="Variant.Filled" OnClick="OnDecrement" Color="Color.Secondary" Style="margin: 5px; 5px; 5px; 5px;">-</MudButton>
    </div>

    <!-- Total value display -->
    <div style="display: flex; justify-content: flex-start;">
        <MudText Style="text-align: center;" Typo="Typo.h6">Total: @CounterValue</MudText>
    </div>
</div>
